body{
    background-color: burlywood;	
}


table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    border: none;
    border-spacing: 10px;
    font-size: 18px;
    background-color: rgb(245, 221, 190);
}

td {
    padding: 10px; /* เพิ่มพื้นที่ระหว่างขอบเซลล์และข้อมูล */
}

/* เพิ่มพื้นที่ระหว่างแถว */
tr {
    margin-bottom: 50px; /* เพิ่มช่องว่างระหว่างแถว */
}

a {
    text-decoration: none; /* เอาเส้นขีดใต้ลิงก์ออก */
    color: #333; /* สีตัวอักษร */
    font-weight: bold; /* ตัวอักษรหนา */
    margin: 0 15px; /* เพิ่มช่องว่างระหว่างลิงก์ */
    padding: 10px 15px; /* เพิ่มช่องว่างภายในปุ่ม */
    border-radius: 5px; /* มุมปุ่มโค้ง */
    background-color: #f0f0f0; /* สีพื้นหลังปุ่ม */
}
a:hover {
    background-color: #ddd; /* เปลี่ยนสีพื้นหลังเมื่อวางเมาส์ */
    color: #000; /* เปลี่ยนสีตัวอักษรเมื่อวางเมาส์ */
}